.box-login-register {
  width: 30vw;
  height: 70vh;
  background: rgb(232, 230, 230);
  border: 1px solid black;
  border-radius: 10px;
}
.box-login-register.login {
  height: 50vh;
}

.box-login-register .title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 25%;
  color: #031d34;
}

.box-login-register.login .title {
  height: 33%;
}

.form-login-register {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-register {
  width: 80%;
}

.form-login-register .ant-form-item {
  margin-bottom: 8px;
}

.form-login-register .ant-input {
  width: 100%;
}

.ant-btn {
  background: #031d34;
}

.ant-form-item-control-input-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aqua;
}
