.item-user {
  transition: background-color 0.3s;
}

.item-user:hover {
  background-color: #f5f5f5; /* Hiệu ứng hover */
}

.ant-list-item {
  padding: 8px 0; /* Khoảng cách giữa các mục */
}

.ant-card {
  border-radius: 8px; /* Bo góc cho Card */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng nhẹ */
}
